# you are working for a company that handling emails so your manager askes you to see the most domain that recieves emails 
# the recived mail must has "TO" in column Type , not CC or BCC , so make sure to filter with this column first and clean its values with string operations for better filter

In [9]:
import numpy as np
import pandas as pd

In [10]:
#df = pd.read_csv('enron_email_threads_updated.csv',sep="\t",encoding="utf-8")
df=pd.read_csv('Enron_email_threads_updated.csv', sep='\t', encoding='utf-16')

In [11]:
df.head()

,TID,MID,From,TO,Timestamp,Type
0,155a74d0930df40c,e9c42ba707f5e84,mark.whitt@enron.com,heidi.dubose@enron.com,2001-10-25T07:02:55-07:00,TO
1,155a01503aaa94d2,ea7d7b79039db9c,barry.tycholiz@enron.com,jessica.presas@enron.com,2001-11-30T05:39:51-08:00,TO
2,155a0146556ac9cb,e9e418ca9b8987a,barry.tycholiz@enron.com,stephanie.miller@enron.com,2001-10-31T10:50:10-08:00,TO
3,1559a0a82828c7c9,ea57a25b4ab0621,enron_update@concureworkplace.com,s..shively@enron.com,2001-11-22T21:16:45-08:00,TO
4,1559a0a82828c7c9,ea57a247904c8e9,enron_update@concureworkplace.com,jsteffe@enron.com,2001-11-22T21:16:40-08:00,TO

In [12]:
df.columns

Index(['TID', 'MID', 'From', 'TO', 'Timestamp', 'Type'], dtype='object')

In [13]:
df.loc[:,['TO','Type']]

                                TO Type
0           heidi.dubose@enron.com   TO
1         jessica.presas@enron.com   TO
2       stephanie.miller@enron.com   TO
3             s..shively@enron.com   TO
4                jsteffe@enron.com   TO
...                            ...  ...
471869        pete.davis@enron.com   TO
471870        pete.davis@enron.com   CC
471871        pete.davis@enron.com  BCC
471872      ryan.slinger@enron.com   CC
471873      ryan.slinger@enron.com  BCC

[471874 rows x 2 columns]

In [14]:
df['extract_email'] = df['TO'].str.split('@').str[1]
df['extract_email'].mode()

0    enron.com
dtype: object

In [15]:
df[df['Type'].str.contains('TO')].groupby(['extract_email','Type']).agg({
    'TO':'max'
    #'extract_email':'max'
}).reset_index()

            extract_email Type                                TO
0                 126.com   TO                slfqnbwpia@126.com
1                 163.net   TO                     cmiya@163.net
2                 188.net   TO                      7666@188.net
3      1internetdrive.com   TO  offandrunning@1internetdrive.com
4                21cn.com   TO                    juzdm@21cn.com
...                   ...  ...                               ...
2341  zeusdevelopment.com   TO      bnimocks@zeusdevelopment.com
2342       ziffenergy.com   TO          cgingrich@ziffenergy.com
2343           zilkha.com   TO                michael@zilkha.com
2344      zoo-phonics.com   TO              gigi@zoo-phonics.com
2345          zrfmlaw.com   TO              mcortina@zrfmlaw.com

[2346 rows x 3 columns]